body {
    background-color: #D9D99E;
    font-color: white;
    }
.GridContainer {
    display: grid;
    grid-template-columnns: 300px 100px:
    grid-template-rows: 100px auto;
}
.Main {
    grid-column: 2;
    grid-row: 2;
}
.Nav {
    grid-column: 1 / span 3;
    grid-row: 1;
    width: 100
    padding: 10px;
    color: white;
    font-size: 50px;
    background-color: #BBC091;
    
 }
.BarChart-bar {
    background-color: #7A6C5D;
    color:white;
    height:60px;
    font-size:40px;
}
.BarChart2-bar {
    background-color: #96936E;
    color:white;
    height:60px;
    font-size:40px;
}


